@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Inter:wght@400&display=swap');
 
 
body, p {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5{
    color: #FFEB3B;
     font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #000000  !important;
    color: #ffffff !important; 
}

 
.form-bg{
    background-color: #212121 !important;
}

.yellow-bg{
    background-color: #FFEB3B !important;
}

 
.btn-outline-yellow {
    color: #FFEB3B !important; /* Bootstrap primary color */
    border-color: #FFEB3B !important; /* Border color */
    background-color: transparent;
}

.btn-outline-yellow:hover {
    color: #000 !important; /* White text on hover */
    background-color:#FFEB3B;  /* Filled primary color on hover */
    border-color: #FFEB3B; 
}

.btn-outline-yellow:focus, 
.btn-outline-yellow:active {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

.btn-outline-yellow:disabled {
    color: #0d6efd;
    background-color: transparent;
    border-color: #0d6efd;
    opacity: 0.65;
}

.hidden{
    display: none;
}

.unselectable{
    user-select: none;
}


.check-icon {
    display: none !important;
    color: green;
    margin-left: 10px;
}

.btn-google{
    background-color:#FFFFFF !important ;
    color: #000;
    width:95%;
    margin:5px;
}



.hr-or {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.hr-or::before,
.hr-or::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 5px;
}

.hr-or span {
    padding: 0 10px;
    font-weight: bold;
    color: #555;
}
